.checkbox-container {
  display: flex;
  flex-direction: column;
  height: 75vh !important;
  max-width: 20rem;
  overflow: auto;
  margin: auto;
  padding-right: 1rem;
}

::ng-deep .checkbox-container label.ant-checkbox-wrapper.ant-checkbox-group-item {
  font-size: 1rem;
  padding: 0.5rem;
  background: black;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0.2rem auto;
  width: 100%;
}