th,td, table, tr{
  border: 1px solid black;
  padding: 0.5rem 1rem;
  text-align: center;
}

.bg-green {
  background: #1b5e20;
}

.can-bank {
  cursor: pointer !important;
}

.can-bank > td {
  cursor: pointer !important;
}


.can-bank:hover {
  background-color: darkblue;
}

td:hover{
  background-color: darkblue;
}

td {
  transition: background-color 100ms;
}

td:active{
  background-color: #1b5e20;
}