<nz-layout class="app-layout" *ngIf="userFbService.userFire && userFbService.userFire.id">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="sm" [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="../assets/logo.svg" alt="logo">
        <h1>Pokemania</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" (click)="goToRouter(routing.playTable)">
        <i nz-icon nzType="play-circle" nzTheme="outline"></i>
        <span>Play Pokemon</span>
      </li> 
      
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" (click)="goToRouter(routing.weeklyReport)">
        <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
        <span>Report</span>
      </li>  
      
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" (click)="signOut()">
        <i nz-icon nzType="logout" nzTheme="outline"></i>
        <span>Logout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" style="margin-right: 1rem;" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          {{header}}
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" style="
      overflow-y: auto;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<!-- <button nz-button nzType="primary" (click)="loginWithFacebook()" *ngIf="!socialUser || !socialUser.id"
  style="margin: auto; margin-top: 5rem;" nzShape="round">
  <i nz-icon nzType="facebook" nzTheme="outline"></i>
  Login With Facebook

</button> -->

<div style="margin: 5rem auto"  *ngIf="!userFbService.userFire || !userFbService.userFire.id">
  <input
    placeholder='Input Player Name'
    nz-input
    [(ngModel)]="autoCompletePlayer"
    [nzAutocomplete]="auto"
    (ngModelChange)="autoCompletePlayerChanging($event)"
  />
  <nz-autocomplete [nzDataSource]="listUserName" #auto></nz-autocomplete>
  <div style="color: yellow;" [hidden]="!warnUserNotInTable">{{warnUserNotInTable}}</div>
  
  <button nz-button nzType="primary" (click)="loginToSystem()"
    style="margin: auto; margin-top: 1rem;" nzShape="round">
    Login To System
  </button>
</div>