<nz-layout class="app-layout" *ngIf="socialUser && socialUser.id">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="../assets/logo.svg" alt="logo">
        <h1>Pokemania</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzSelected (click)="goToRouter(routing.welcome)">
        <img nz-icon src="{{socialUser.photoUrl}}" width="16px" height="16px" alt="logo">
        <span>{{socialUser.name}}</span>
      </li>

      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" (click)="goToRouter(routing.playTable)">
        <i nz-icon nzType="play-circle" nzTheme="outline"></i>
        <span>Play Pokemon</span>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" (click)="signOut()">
        <i nz-icon nzType="logout"></i>
        <span>Log Out</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" style="margin-right: 1rem;" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          {{header}}
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" style="
      overflow-y: auto;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<button nz-button nzType="primary" (click)="loginWithFacebook()" *ngIf="!socialUser || !socialUser.id"
  style="margin: auto; margin-top: 5rem;" nzShape="round">
  <i nz-icon nzType="facebook" nzTheme="outline"></i>
  Login With Facebook

</button>