.listPlayer>div {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.listPlayer {
  max-height: 70vh;
  overflow: auto;
  max-width: 500px;
  margin: auto;
  padding-right: 1rem;
}

.listPlayer>div {
  border-bottom: 1px solid white;
  font-weight: bold;
  color: black;
  padding: 0.5rem;
}

.listPlayer>div>span {
  background-color: #ffffff84;
  width: 100%;
  padding: 0.5rem;
  margin: 2px;
}

.listPlayer>div>span:first-child {
  text-align: right;
}

.listPlayer>div:not(:last-child) {
  border-bottom: 1px solid white;
}